---
layout: default
title: Dashboard
permalink: /dashboard
---

<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-box tilebox-one">
            <i class="mdi mdi-calendar-check float-right"></i>
            <h6 class="text-muted text-uppercase mb-3">Leave Taken</h6>
            <h4 class="mb-3"><span data-plugin="counterup">14</span> days</h4>
            <!-- <span class="badge badge-primary"> 11% </span> <span class="text-muted ml-2 vertical-middle">From total leave used</span> -->
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-box tilebox-one">
            <i class="mdi mdi-calendar-range float-right"></i>
            <h6 class="text-muted text-uppercase mb-3">Leave Balance</h6>
            <h4 class="mb-3"><span data-plugin="counterup">36</span> days</h4>
            <!-- <span class="badge badge-primary"> 29% </span> <span class="text-muted ml-2 vertical-middle">From total leave balance</span> -->
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-box tilebox-one">
            <i class="mdi mdi-coin float-right"></i>
            <h6 class="text-muted text-uppercase mb-3">Next Payday In</h6>
            <h4 class="mb-3"><span data-plugin="counterup">15</span> days</h4>
            <!-- <span class="badge badge-primary"> 50% </span> <span class="text-muted ml-2 vertical-middle">From total day in a month</span> -->
        </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-box tilebox-one">
            <i class="mdi mdi-clipboard-check float-right"></i>
            <h6 class="text-muted text-uppercase mb-3">Submit Claim By</h6>
            <h4 class="mb-3"><span data-plugin="counterup">10</span> days</h4>
            <!-- <span class="badge badge-primary"> 66% </span> <span class="text-muted ml-2 vertical-middle">From total day in a month</span> -->
        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-12">
        <div class="card-box">
            <h4 class="header-title m-t-0 m-b-30">My Recent Action Log</h4>

            <ul class="nav nav-pills navtab-bg nav-justified">
                <li class="nav-item">
                    <a href="#all1" data-toggle="tab" aria-expanded="false" class="nav-link">
                        All
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#leave1" data-toggle="tab" aria-expanded="true" class="nav-link active">
                        Leave
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#payslip1" data-toggle="tab" aria-expanded="false" class="nav-link">
                        Payslip
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#claim1" data-toggle="tab" aria-expanded="false" class="nav-link">
                        Claim
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="all1">
                    {% include dshbrd-mral-all.html %}
                </div>
                <div class="tab-pane show active" id="leave1">
                    {% include dshbrd-mral-leave.html %}
                </div>
                <div class="tab-pane" id="payslip1">
                    {% include dshbrd-mral-payslip.html %}
                </div>
                <div class="tab-pane" id="claim1">
                    {% include dshbrd-mral-claim.html %}
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div>
<!-- end row -->