---
layout: default
title: Leaves
permalink: /leaves
---

<div class="row">

    <div class="col-md-12">
        <div class="card-box">
            <ul class="nav nav-pills navtab-bg nav-justified">
                <li class="nav-item">
                    <a href="#applyleave" data-toggle="tab" aria-expanded="true" class="nav-link active">
                        Apply for leave
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#viewapplication" data-toggle="tab" aria-expanded="false" class="nav-link">
                        View application
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#replacementcredit" data-toggle="tab" aria-expanded="false" class="nav-link">
                        Replacement credit
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane show active" id="applyleave">
                    {% include leaves-apply-leave.html %}
                </div>
                <div class="tab-pane" id="viewapplication">
                    {% include leaves-view-application.html %}
                </div>
                <div class="tab-pane" id="replacementcredit">
                    {% include leaves-replacement-credit.html %}
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div>
<!-- end row -->