---
layout: default
title: Leaves
permalink: /leaves
---

<div class="row">

    <div class="col-md-12">
        <div class="card-box">
            <h4 class="header-title">Leaves Balance</h4>

            <div class="row">
                <div class="col-sm-4 col-md-2">
                    <div class="card-box tilebox-one">
                        <h6 class="text-muted text-uppercase mb-3">Annual Leave</h6>
                        <h4><span data-plugin="counterup">12</span> days</h4>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card-box tilebox-one">
                        <h6 class="text-muted text-uppercase mb-3">Hospitalization</h6>
                        <h4><span data-plugin="counterup">60</span> days</h4>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card-box tilebox-one">
                        <h6 class="text-muted text-uppercase mb-3">Paternity</h6>
                        <h4><span data-plugin="counterup">5</span> days</h4>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card-box tilebox-one">
                        <h6 class="text-muted text-uppercase mb-3">Replacement</h6>
                        <h4><span data-plugin="counterup">0</span> day</h4>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card-box tilebox-one">
                        <h6 class="text-muted text-uppercase mb-3">Sick</h6>
                        <h4><span data-plugin="counterup">14</span> days</h4>
                    </div>
                </div>
                <div class="col-sm-4 col-md-2">
                    <div class="card-box tilebox-one">
                        <h6 class="text-muted text-uppercase mb-3">Total Leave</h6>
                        <h4><span data-plugin="counterup">91</span> days</h4>
                    </div>
                </div>
            </div><!-- end row -->
        </div>
    </div>

    <div class="col-md-12">
        <div class="card-box">

            <ul class="nav nav-pills navtab-bg nav-justified">
                <li class="nav-item">
                    <a href="#applyleave" data-toggle="tab" aria-expanded="true" class="nav-link active">
                        Apply for leave
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#viewapplication" data-toggle="tab" aria-expanded="false" class="nav-link">
                        View application
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#replacementcredit" data-toggle="tab" aria-expanded="false" class="nav-link">
                        Replacement credit
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane show active" id="applyleave">
                    {% include leaves-apply-leave.html %}
                </div>
                <div class="tab-pane" id="viewapplication">
                    {% include leaves-view-application.html %}
                </div>
                <div class="tab-pane" id="replacementcredit">
                    {% include leaves-replacement-credit.html %}
                </div>
            </div>
        </div>
    </div> <!-- end col -->
</div>
<!-- end row -->