<div class="row">
    <div class="col-12">
        <div class="card-box">

            <div class="table-rep-plugin">
                <div class="table-responsive" data-pattern="priority-columns">
                    <table id="tech-companies-1" class="table  table-striped">
                        <thead>
                        <tr>
                            <th>Date & Time</th>
                            <th data-priority="1">Category</th>
                            <th data-priority="3">Type</th>
                            <th data-priority="1">Status</th>
                            <th data-priority="3">Action</th>
                            <th data-priority="3">Option</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Thu, 2 Apr 2020; 08:13:00 PM</th>
                            <td>Leave</td>
                            <td>Annual Leave</td>
                            <td class="text-warning">Pending</td>
                            <td>Torai</td>
                            <td><i class="fa fa-external-link text-info"></i></td>
                        </tr>
                        <tr>
                            <th>Thu, 2 Apr 2020; 09:10:52 AM</th>
                            <td>Claim</td>
                            <td>Milage Claim</td>
                            <td class="text-warning">Pending</td>
                            <td>Torai</td>
                            <td><i class="fa fa-external-link text-info"></i></td>
                        </tr>
                        <tr>
                            <th>Thu, 26 Mar 2020; 09:32:37 AM</th>
                            <td>Payslip</td>
                            <td>Monthly Payslip</td>
                            <td class="text-info">Generated</td>
                            <td>Flux (HR)</td>
                            <td><a href="/view-payslip"><i class="fa fa-external-link text-info"></i></a></td>
                        </tr>
                        <tr>
                            <th>Fri, 20 Mar 2020; 03:43:18 AM</th>
                            <td>Claim</td>
                            <td>Transport Claim</td>
                            <td class="text-success">Approved</td>
                            <td>Flux (HR)</td>
                            <td><i class="fa fa-external-link text-info"></i></td>
                        </tr>
                        <tr>
                            <th>Fri, 20 Mar 2020; 03:34:45 AM</th>
                            <td>Claim</td>
                            <td>Accomodation Claim</td>
                            <td class="text-success">Approved</td>
                            <td>Flux (HR)</td>
                            <td><i class="fa fa-external-link text-info"></i></td>
                        </tr>
                        <tr>
                            <th>Wed, 4 Mar 2020; 08:36:15 AM</th>
                            <td>Leave</td>
                            <td>Medical Leave</td>
                            <td class="text-success">Approved</td>
                            <td>Nexxa (CTO)</td>
                            <td><i class="fa fa-external-link text-info"></i></td>
                        </tr>
                        <tr>
                            <th>Wed, 26 Feb 2020; 09:37:40 AM</th>
                            <td>Payslip</td>
                            <td>Monthly Payslip</td>
                            <td class="text-info">Generated</td>
                            <td>Flux (HR)</td>
                            <td><i class="fa fa-external-link text-info"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- end row -->