<div class="row">
    <div class="col-12">
        <div class="card-box">

            <div class="table-rep-plugin">
                <div class="table-responsive" data-pattern="priority-columns">
                    <table id="tech-companies-1" class="table  table-striped">
                        <thead>
                        <tr>
                            <th>Date & Time</th>
                            <th data-priority="1">Type</th>
                            <th data-priority="3">Purpose</th>
                            <th data-priority="1">Status</th>
                            <th data-priority="3">Action</th>
                            <th data-priority="3">Option</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Thu, 2 Apr 2020; 09:10:52 AM</th>
                            <td>Milage Claim</td>
                            <td>Client Office - Kofix</td>
                            <td class="text-warning">Pending</td>
                            <td>Torai</td>
                            <td><i class="fa fa-external-link text-info"></i></td>
                        </tr>
                        <tr>
                            <th>Fri, 20 Mar 2020; 03:43:18 AM</th>
                            <td>Transport Claim</td>
                            <td>Outstation - Penang</td>
                            <td class="text-success">Approved</td>
                            <td>Flux (HR)</td>
                            <td><i class="fa fa-external-link text-info"></i></td>
                        </tr>
                        <tr>
                            <th>Fri, 20 Mar 2020; 03:34:45 AM</th>
                            <td>Accomodation Claim</td>
                            <td>Outstation - Penang</td>
                            <td class="text-success">Approved</td>
                            <td>Flux (HR)</td>
                            <td><i class="fa fa-external-link text-info"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- end row -->