<div class="row">
    <div class="col-12">
        <div class="card-box">
            <h4 class="header-title m-t-0">Apply for Replacement Credit</h4>
            <p class="text-muted font-14 m-b-25">
                Plan ahead and make sure your leave doesn't clash with any company or department's events by checking your calendar(s).
            </p>

            <form>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Start & End Date</label>
                        <div>
                            <input class="form-control input-daterange-datepicker" type="text" name="daterange" value="04/22/2020 - 04/29/2020"/>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label>Reason</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group m-b-0">
                    <button type="button" class="btn btn-block btn-gradient waves-effect waves-light" id="submit-leave">Apply for replacement credit</button>
                    <!-- Edit this Sweet Alert at assets/pages/jquery.sweet-alert.init.js line 43-->
                </div>

            </form>
        </div> <!-- end card-box -->
    </div>
</div>  <!-- end row -->

<div class="row">
    <div class="col-12">
        <div class="card-box">

            <div class="table-rep-plugin">
                <div class="table-responsive" data-pattern="priority-columns">
                    <table id="tech-companies-1" class="table  table-striped">
                        <thead>
                        <tr>
                            <th>Date & Time</th>
                            <th data-priority="1">From</th>
                            <th data-priority="1">To</th>
                            <th data-priority="1">Days</th>
                            <th data-priority="1">Type</th>
                            <th>Reason</th>
                            <th data-priority="1">Status</th>
                            <th data-priority="3">Action</th>
                            <th data-priority="1">Attachment</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Thu, 2 Apr 2020; 08:13:00 PM</th>
                            <td>27 May 2020</td>
                            <td>29 May 2020</td>
                            <td>3</td>
                            <td>Annual Leave</td>
                            <td>Raya Holiday</td>
                            <td class="text-warning">Pending</td>
                            <td>Torai</td>
                            <td><i class="fa fa-file-o text-info"></i></td>
                        </tr>
                        <tr>
                            <th>Wed, 4 Mar 2020; 08:36:15 AM</th>
                            <td>3 Mar 2020</td>
                            <td>3 Mar 2020</td>
                            <td>1</td>
                            <td>Medical Leave</td>
                            <td>Fever</td>
                            <td class="text-success">Approved</td>
                            <td>Nexxa (CTO)</td>
                            <td><i class="fa fa-file-o text-info"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- end row -->