<div class="row">
    <div class="col-12">
        <div class="card-box">

            <div class="table-rep-plugin">
                <div class="table-responsive" data-pattern="priority-columns">
                    <table id="tech-companies-1" class="table  table-striped">
                        <thead>
                        <tr>
                            <th>Date & Time</th>
                            <th data-priority="1">From</th>
                            <th data-priority="1">To</th>
                            <th data-priority="1">Days</th>
                            <th data-priority="1">Type</th>
                            <th data-priority="3">Reason</th>
                            <th data-priority="1">Status</th>
                            <th data-priority="3">Action</th>
                            <th data-priority="1">Attachment</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Thu, 2 Apr 2020; 08:13:00 PM</th>
                            <td>27 May 2020</td>
                            <td>29 May 2020</td>
                            <td>3</td>
                            <td>Annual Leave</td>
                            <td>Raya Holiday</td>
                            <td class="text-warning">Pending</td>
                            <td>Torai</td>
                            <td><i class="fa fa-file-o text-info"></i></td>
                        </tr>
                        <tr>
                            <th>Wed, 4 Mar 2020; 08:36:15 AM</th>
                            <td>3 Mar 2020</td>
                            <td>3 Mar 2020</td>
                            <td>1</td>
                            <td>Medical Leave</td>
                            <td>Fever</td>
                            <td class="text-success">Approved</td>
                            <td>Nexxa (CTO)</td>
                            <td><i class="fa fa-file-o text-info"></i></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>

        </div>
    </div>
</div>
<!-- end row -->